openapi: 3.2.0
info:
  title: Boom Initiatives API
  version: 1.0.0
  description: 'Boom''s public REST API — one uniform surface over every platform capability. CDP: upsert people and custom objects, define object and relationship types, link and unlink relationships, and record behavioral events — one record per request or up to 1000 per request via the `/batch` endpoints. Segments: read (list, read, membership) and full authoring — discover the filterable catalog, validate a filter, create and update segments, preview match counts, and trigger evaluation. Initiatives: create and configure outreach initiatives, link WhatsApp templates, drive the lifecycle (launch, cancel, archive), and read collected-data summaries. Participants: enroll people into an active initiative, track their status, read conversation transcripts, and stop outreach. Journeys: read-only access to always-on message flows and their metrics. WhatsApp templates: list your WhatsApp numbers and list, read, and create message templates. The same capabilities are exposed as MCP tools with identical schemas.'
servers:
- url: https://www.useboom.ai
  description: Production
- url: https://dev.useboom.ai
  description: Development (sandbox — use a development organization API key)
security:
- bearerAuth: []
tags:
- name: Initiatives
paths:
  /api/v1/initiatives:
    get:
      operationId: initiatives_list
      summary: List initiatives
      description: List the organization's initiatives, newest first. Archived initiatives are excluded.
      tags:
      - Initiatives
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          $schema: https://json-schema.org/draft/2020-12/schema
          default: 100
          description: Page size.
          type: integer
          minimum: 1
          maximum: 1000
      - name: cursor
        in: query
        required: false
        schema:
          $schema: https://json-schema.org/draft/2020-12/schema
          description: Opaque token from a prior response’s `next_cursor`.
          type: string
      - name: status
        in: query
        required: false
        schema:
          $schema: https://json-schema.org/draft/2020-12/schema
          description: 'Comma-separated lifecycle filter, e.g. `DRAFT,ACTIVE`. Allowed: DRAFT, ACTIVE, PAUSED, COMPLETED, CANCELED.'
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Initiative id.
                        name:
                          type: string
                        channel:
                          type: string
                          enum:
                          - WHATSAPP
                          - EMAIL
                        status:
                          type: string
                          enum:
                          - DRAFT
                          - ACTIVE
                          - PAUSED
                          - COMPLETED
                          - CANCELED
                        language:
                          type: string
                          description: Conversation language, e.g. `es`.
                        objective:
                          anyOf:
                          - type: string
                          - type: 'null'
                        isRecurring:
                          type: boolean
                          description: Whether the initiative keeps processing newly added participants on a schedule.
                        flagCondition:
                          anyOf:
                          - type: string
                          - type: 'null'
                          description: Natural-language condition; matching conversations get flagged during analysis.
                        identityDeflection:
                          anyOf:
                          - type: string
                          - type: 'null'
                          description: Custom reply when a contact asks whether they are talking to a bot.
                        createdAt:
                          type: string
                          description: ISO 8601 timestamp.
                        updatedAt:
                          type: string
                          description: ISO 8601 timestamp.
                        activatedAt:
                          anyOf:
                          - type: string
                          - type: 'null'
                        completedAt:
                          anyOf:
                          - type: string
                          - type: 'null'
                        canceledAt:
                          anyOf:
                          - type: string
                          - type: 'null'
                        pausedAt:
                          anyOf:
                          - type: string
                          - type: 'null'
                      required:
                      - id
                      - name
                      - channel
                      - status
                      - language
                      - objective
                      - isRecurring
                      - flagCondition
                      - identityDeflection
                      - createdAt
                      - updatedAt
                      - activatedAt
                      - completedAt
                      - canceledAt
                      - pausedAt
                      additionalProperties: false
                  next_cursor:
                    anyOf:
                    - type: string
                    - type: 'null'
                required:
                - data
                - next_cursor
                additionalProperties: false
        '400':
          description: Validation failed or the request cannot proceed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '401':
          description: Missing, malformed, or revoked API key.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '404':
          description: The resource does not exist in this organization.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '409':
          description: Conflicts with the current state (duplicates, wrong lifecycle state).
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '422':
          description: The request is well-formed but semantically invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '429':
          description: Rate limit exceeded — retry after `Retry-After`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '503':
          description: Transient error — retry with a narrower request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
    post:
      operationId: initiatives_create
      summary: Create initiative
      description: Create a draft initiative — only a name is required. For a WhatsApp initiative, link an approved template before launching.
      tags:
      - Initiatives
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: https://json-schema.org/draft/2020-12/schema
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 255
                  description: Initiative name.
                language:
                  type: string
                  enum:
                  - en
                  - es
                  - pt
                objective:
                  description: What the initiative aims to learn.
                  type: string
                  maxLength: 2000
                context:
                  description: Background the conversation draws on.
                  type: string
                  maxLength: 20000
                maxAttempts:
                  description: Outreach attempts per participant. Default 3.
                  type: integer
                  minimum: 1
                  maximum: 5
                isRecurring:
                  description: 'Recurring initiative: keeps processing newly added participants on a schedule instead of ending after one pass. Default false.'
                  type: boolean
                flagCondition:
                  description: Natural-language condition; conversations matching it get flagged during analysis. Set null to clear.
                  anyOf:
                  - type: string
                    maxLength: 500
                  - type: 'null'
                identityDeflection:
                  description: Custom reply when a contact asks whether they are talking to a bot. Set null to clear.
                  anyOf:
                  - type: string
                    maxLength: 1000
                  - type: 'null'
                channel:
                  default: WHATSAPP
                  description: Default WHATSAPP.
                  type: string
                  enum:
                  - WHATSAPP
                  - EMAIL
                guidingQuestions:
                  description: The questions the conversation aims to answer.
                  maxItems: 50
                  type: array
                  items:
                    type: object
                    properties:
                      questionText:
                        type: string
                        minLength: 1
                        maxLength: 280
                        description: The question to cover.
                      answerType:
                        description: Default OPEN.
                        type: string
                        enum:
                        - OPEN
                        - MULTIPLE_CHOICE
                        - BOOLEAN
                        - SCALE
                      priority:
                        type: integer
                        minimum: 1
                        maximum: 5
                      scaleMin:
                        anyOf:
                        - type: integer
                          minimum: -9007199254740991
                          maximum: 9007199254740991
                        - type: 'null'
                      scaleMax:
                        anyOf:
                        - type: integer
                          minimum: -9007199254740991
                          maximum: 9007199254740991
                        - type: 'null'
                      options:
                        description: Answer options (MULTIPLE_CHOICE only).
                        maxItems: 20
                        type: array
                        items:
                          type: string
                          minLength: 1
                          maxLength: 280
                    required:
                    - questionText
              required:
              - name
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  id:
                    type: string
                    description: Initiative id.
                  name:
                    type: string
                  channel:
                    type: string
                    enum:
                    - WHATSAPP
                    - EMAIL
                  status:
                    type: string
                    enum:
                    - DRAFT
                    - ACTIVE
                    - PAUSED
                    - COMPLETED
                    - CANCELED
                  language:
                    type: string
                    description: Conversation language, e.g. `es`.
                  objective:
                    anyOf:
                    - type: string
                    - type: 'null'
                  isRecurring:
                    type: boolean
                    description: Whether the initiative keeps processing newly added participants on a schedule.
                  flagCondition:
                    anyOf:
                    - type: string
                    - type: 'null'
                    description: Natural-language condition; matching conversations get flagged during analysis.
                  identityDeflection:
                    anyOf:
                    - type: string
                    - type: 'null'
                    description: Custom reply when a contact asks whether they are talking to a bot.
                  createdAt:
                    type: string
                    description: ISO 8601 timestamp.
                  updatedAt:
                    type: string
                    description: ISO 8601 timestamp.
                  activatedAt:
                    anyOf:
                    - type: string
                    - type: 'null'
                  completedAt:
                    anyOf:
                    - type: string
                    - type: 'null'
                  canceledAt:
                    anyOf:
                    - type: string
                    - type: 'null'
                  pausedAt:
                    anyOf:
                    - type: string
                    - type: 'null'
                  context:
                    anyOf:
                    - type: string
                    - type: 'null'
                  maxAttempts:
                    type: integer
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                  guidingQuestions:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        questionText:
                          type: string
                        answerType:
                          type: string
                        priority:
                          type: integer
                          minimum: -9007199254740991
                          maximum: 9007199254740991
                        scaleMin:
                          anyOf:
                          - type: integer
                            minimum: -9007199254740991
                            maximum: 9007199254740991
                          - type: 'null'
                        scaleMax:
                          anyOf:
                          - type: integer
                            minimum: -9007199254740991
                            maximum: 9007199254740991
                          - type: 'null'
                        options:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                              label:
                                type: string
                              position:
                                type: integer
                                minimum: -9007199254740991
                                maximum: 9007199254740991
                            required:
                            - id
                            - label
                            - position
                            additionalProperties: false
                      required:
                      - id
                      - questionText
                      - answerType
                      - priority
                      - scaleMin
                      - scaleMax
                      - options
                      additionalProperties: false
                required:
                - id
                - name
                - channel
                - status
                - language
                - objective
                - isRecurring
                - flagCondition
                - identityDeflection
                - createdAt
                - updatedAt
                - activatedAt
                - completedAt
                - canceledAt
                - pausedAt
                - context
                - maxAttempts
                - guidingQuestions
                additionalProperties: false
        '400':
          description: Validation failed or the request cannot proceed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '401':
          description: Missing, malformed, or revoked API key.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '404':
          description: The resource does not exist in this organization.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '409':
          description: Conflicts with the current state (duplicates, wrong lifecycle state).
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '422':
          description: The request is well-formed but semantically invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '429':
          description: Rate limit exceeded — retry after `Retry-After`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '503':
          description: Transient error — retry with a narrower request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
  /api/v1/initiatives/{id}:
    get:
      operationId: initiatives_get
      summary: Get initiative
      description: Get one initiative by id.
      tags:
      - Initiatives
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $schema: https://json-schema.org/draft/2020-12/schema
          type: string
          minLength: 1
          description: The initiative id.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  id:
                    type: string
                    description: Initiative id.
                  name:
                    type: string
                  channel:
                    type: string
                    enum:
                    - WHATSAPP
                    - EMAIL
                  status:
                    type: string
                    enum:
                    - DRAFT
                    - ACTIVE
                    - PAUSED
                    - COMPLETED
                    - CANCELED
                  language:
                    type: string
                    description: Conversation language, e.g. `es`.
                  objective:
                    anyOf:
                    - type: string
                    - type: 'null'
                  isRecurring:
                    type: boolean
                    description: Whether the initiative keeps processing newly added participants on a schedule.
                  flagCondition:
                    anyOf:
                    - type: string
                    - type: 'null'
                    description: Natural-language condition; matching conversations get flagged during analysis.
                  identityDeflection:
                    anyOf:
                    - type: string
                    - type: 'null'
                    description: Custom reply when a contact asks whether they are talking to a bot.
                  createdAt:
                    type: string
                    description: ISO 8601 timestamp.
                  updatedAt:
                    type: string
                    description: ISO 8601 timestamp.
                  activatedAt:
                    anyOf:
                    - type: string
                    - type: 'null'
                  completedAt:
                    anyOf:
                    - type: string
                    - type: 'null'
                  canceledAt:
                    anyOf:
                    - type: string
                    - type: 'null'
                  pausedAt:
                    anyOf:
                    - type: string
                    - type: 'null'
                  context:
                    anyOf:
                    - type: string
                    - type: 'null'
                  maxAttempts:
                    type: integer
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                  guidingQuestions:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        questionText:
                          type: string
                        answerType:
                          type: string
                        priority:
                          type: integer
                          minimum: -9007199254740991
                          maximum: 9007199254740991
                        scaleMin:
                          anyOf:
                          - type: integer
                            minimum: -9007199254740991
                            maximum: 9007199254740991
                          - type: 'null'
                        scaleMax:
                          anyOf:
                          - type: integer
                            minimum: -9007199254740991
                            maximum: 9007199254740991
                          - type: 'null'
                        options:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                              label:
                                type: string
                              position:
                                type: integer
                                minimum: -9007199254740991
                                maximum: 9007199254740991
                            required:
                            - id
                            - label
                            - position
                            additionalProperties: false
                      required:
                      - id
                      - questionText
                      - answerType
                      - priority
                      - scaleMin
                      - scaleMax
                      - options
                      additionalProperties: false
                required:
                - id
                - name
                - channel
                - status
                - language
                - objective
                - isRecurring
                - flagCondition
                - identityDeflection
                - createdAt
                - updatedAt
                - activatedAt
                - completedAt
                - canceledAt
                - pausedAt
                - context
                - maxAttempts
                - guidingQuestions
                additionalProperties: false
        '400':
          description: Validation failed or the request cannot proceed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '401':
          description: Missing, malformed, or revoked API key.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '404':
          description: The resource does not exist in this organization.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '409':
          description: Conflicts with the current state (duplicates, wrong lifecycle state).
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '422':
          description: The request is well-formed but semantically invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '429':
          description: Rate limit exceeded — retry after `Retry-After`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '503':
          description: Transient error — retry with a narrower request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
    patch:
      operationId: initiatives_update
      summary: Update initiative
      description: Edit a draft initiative. Only draft initiatives are editable.
      tags:
      - Initiatives
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: https://json-schema.org/draft/2020-12/schema
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 255
                  description: Initiative name.
                language:
                  type: string
                  enum:
                  - en
                  - es
                  - pt
                objective:
                  description: What the initiative aims to learn.
                  type: string
                  maxLength: 2000
                context:
                  description: Background the conversation draws on.
                  type: string
                  maxLength: 20000
                maxAttempts:
                  description: Outreach attempts per participant. Default 3.
                  type: integer
                  minimum: 1
                  maximum: 5
                isRecurring:
                  description: 'Recurring initiative: keeps processing newly added participants on a schedule instead of ending after one pass. Default false.'
                  type: boolean
                flagCondition:
                  description: Natural-language condition; conversations matching it get flagged during analysis. Set null to clear.
                  anyOf:
                  - type: string
                    maxLength: 500
                  - type: 'null'
                identityDeflection:
                  description: Custom reply when a contact asks whether they are talking to a bot. Set null to clear.
                  anyOf:
                  - type: string
                    maxLength: 1000
                  - type: 'null'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $schema: https://json-schema.org/draft/2020-12/schema
          type: string
          minLength: 1
          description: The initiative id.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  id:
                    type: string
                    description: Initiative id.
                  name:
                    type: string
                  channel:
                    type: string
                    enum:
                    - WHATSAPP
                    - EMAIL
                  status:
                    type: string
                    enum:
                    - DRAFT
                    - ACTIVE
                    - PAUSED
                    - COMPLETED
                    - CANCELED
                  language:
                    type: string
                    description: Conversation language, e.g. `es`.
                  objective:
                    anyOf:
                    - type: string
                    - type: 'null'
                  isRecurring:
                    type: boolean
                    description: Whether the initiative keeps processing newly added participants on a schedule.
                  flagCondition:
                    anyOf:
                    - type: string
                    - type: 'null'
                    description: Natural-language condition; matching conversations get flagged during analysis.
                  identityDeflection:
                    anyOf:
                    - type: string
                    - type: 'null'
                    description: Custom reply when a contact asks whether they are talking to a bot.
                  createdAt:
                    type: string
                    description: ISO 8601 timestamp.
                  updatedAt:
                    type: string
                    description: ISO 8601 timestamp.
                  activatedAt:
                    anyOf:
                    - type: string
                    - type: 'null'
                  completedAt:
                    anyOf:
                    - type: string
                    - type: 'null'
                  canceledAt:
                    anyOf:
                    - type: string
                    - type: 'null'
                  pausedAt:
                    anyOf:
                    - type: string
                    - type: 'null'
                  context:
                    anyOf:
                    - type: string
                    - type: 'null'
                  maxAttempts:
                    type: integer
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                  guidingQuestions:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        questionText:
                          type: string
                        answerType:
                          type: string
                        priority:
                          type: integer
                          minimum: -9007199254740991
                          maximum: 9007199254740991
                        scaleMin:
                          anyOf:
                          - type: integer
                            minimum: -9007199254740991
                            maximum: 9007199254740991
                          - type: 'null'
                        scaleMax:
                          anyOf:
                          - type: integer
                            minimum: -9007199254740991
                            maximum: 9007199254740991
                          - type: 'null'
                        options:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                              label:
                                type: string
                              position:
                                type: integer
                                minimum: -9007199254740991
                                maximum: 9007199254740991
                            required:
                            - id
                            - label
                            - position
                            additionalProperties: false
                      required:
                      - id
                      - questionText
                      - answerType
                      - priority
                      - scaleMin
                      - scaleMax
                      - options
                      additionalProperties: false
                required:
                - id
                - name
                - channel
                - status
                - language
                - objective
                - isRecurring
                - flagCondition
                - identityDeflection
                - createdAt
                - updatedAt
                - activatedAt
                - completedAt
                - canceledAt
                - pausedAt
                - context
                - maxAttempts
                - guidingQuestions
                additionalProperties: false
        '400':
          description: Validation failed or the request cannot proceed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '401':
          description: Missing, malformed, or revoked API key.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '404':
          description: The resource does not exist in this organization.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '409':
          description: Conflicts with the current state (duplicates, wrong lifecycle state).
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '422':
          description: The request is well-formed but semantically invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '429':
          description: Rate limit exceeded — retry after `Retry-After`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '503':
          description: Transient error — retry with a narrower request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
  /api/v1/initiatives/{id}/archive:
    post:
      operationId: initiatives_archive
      summary: Archive initiative
      description: Archive a completed or canceled initiative, hiding it from the default list. Reversible with unarchive.
      tags:
      - Initiatives
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $schema: https://json-schema.org/draft/2020-12/schema
          type: string
          minLength: 1
          description: The initiative id.
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  id:
                    type: string
                    description: Initiative id.
                  name:
                    type: string
                  channel:
                    type: string
                    enum:
                    - WHATSAPP
                    - EMAIL
                  status:
                    type: string
                    enum:
                    - DRAFT
                    - ACTIVE
                    - PAUSED
                    - COMPLETED
                    - CANCELED
                  language:
                    type: string
                    description: Conversation language, e.g. `es`.
                  objective:
                    anyOf:
                    - type: string
                    - type: 'null'
                  isRecurring:
                    type: boolean
                    description: Whether the initiative keeps processing newly added participants on a schedule.
                  flagCondition:
                    anyOf:
                    - type: string
                    - type: 'null'
                    description: Natural-language condition; matching conversations get flagged during analysis.
                  identityDeflection:
                    anyOf:
                    - type: string
                    - type: 'null'
                    description: Custom reply when a contact asks whether they are talking to a bot.
                  createdAt:
                    type: string
                    description: ISO 8601 timestamp.
                  updatedAt:
                    type: string
                    description: ISO 8601 timestamp.
                  activatedAt:
                    anyOf:
                    - type: string
                    - type: 'null'
                  completedAt:
                    anyOf:
                    - type: string
                    - type: 'null'
                  canceledAt:
                    anyOf:
                    - type: string
                    - type: 'null'
                  pausedAt:
                    anyOf:
                    - type: string
                    - type: 'null'
                  context:
                    anyOf:
                    - type: string
                    - type: 'null'
                  maxAttempts:
                    type: integer
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                  guidingQuestions:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        questionText:
                          type: string
                        answerType:
                          type: string
                        priority:
                          type: integer
                          minimum: -9007199254740991
                          maximum: 9007199254740991
                        scaleMin:
                          anyOf:
                          - type: integer
                            minimum: -9007199254740991
                            maximum: 9007199254740991
                          - type: 'null'
                        scaleMax:
                          anyOf:
                          - type: integer
                            minimum: -9007199254740991
                            maximum: 9007199254740991
                          - type: 'null'
                        options:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                              label:
                                type: string
                              position:
                                type: integer
                                minimum: -9007199254740991
                                maximum: 9007199254740991
                            required:
                            - id
                            - label
                            - position
                            additionalProperties: false
                      required:
                      - id
                      - questionText
                      - answerType
                      - priority
                      - scaleMin
                      - scaleMax
                      - options
                      additionalProperties: false
                required:
                - id
                - name
                - channel
                - status
                - language
                - objective
                - isRecurring
                - flagCondition
                - identityDeflection
                - createdAt
                - updatedAt
                - activatedAt
                - completedAt
                - canceledAt
                - pausedAt
                - context
                - maxAttempts
                - guidingQuestions
                additionalProperties: false
        '400':
          description: Validation failed or the request cannot proceed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '401':
          description: Missing, malformed, or revoked API key.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '404':
          description: The resource does not exist in this organization.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '409':
          description: Conflicts with the current state (duplicates, wrong lifecycle state).
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '422':
          description: The request is well-formed but semantically invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '429':
          description: Rate limit exceeded — retry after `Retry-After`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '503':
          description: Transient error — retry with a narrower request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
  /api/v1/initiatives/{id}/cancel:
    post:
      operationId: initiatives_cancel
      summary: Cancel initiative
      description: Cancel an initiative and stop its conversations. Terminal. Requires an org admin.
      tags:
      - Initiatives
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $schema: https://json-schema.org/draft/2020-12/schema
          type: string
          minLength: 1
          description: The initiative id.
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  id:
                    type: string
                    description: Initiative id.
                  name:
                    type: string
                  channel:
                    type: string
                    enum:
                    - WHATSAPP
                    - EMAIL
                  status:
                    type: string
                    enum:
                    - DRAFT
                    - ACTIVE
                    - PAUSED
                    - COMPLETED
                    - CANCELED
                  language:
                    type: string
                    description: Conversation language, e.g. `es`.
                  objective:
                    anyOf:
                    - type: string
                    - type: 'null'
                  isRecurring:
                    type: boolean
                    description: Whether the initiative keeps processing newly added participants on a schedule.
                  flagCondition:
                    anyOf:
                    - type: string
                    - type: 'null'
                    description: Natural-language condition; matching conversations get flagged during analysis.
                  identityDeflection:
                    anyOf:
                    - type: string
                    - type: 'null'
                    description: Custom reply when a contact asks whether they are talking to a bot.
                  createdAt:
                    type: string
                    description: ISO 8601 timestamp.
                  updatedAt:
                    type: string
                    description: ISO 8601 timestamp.
                  activatedAt:
                    anyOf:
                    - type: string
                    - type: 'null'
                  completedAt:
                    anyOf:
                    - type: string
                    - type: 'null'
                  canceledAt:
                    anyOf:
                    - type: string
                    - type: 'null'
                  pausedAt:
                    anyOf:
                    - type: string
                    - type: 'null'
                  context:
                    anyOf:
                    - type: string
                    - type: 'null'
                  maxAttempts:
                    type: integer
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                  guidingQuestions:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        questionText:
                          type: string
                        answerType:
                          type: string
                        priority:
                          type: integer
                          minimum: -9007199254740991
                          maximum: 9007199254740991
                        scaleMin:
                          anyOf:
                          - type: integer
                            minimum: -9007199254740991
                            maximum: 9007199254740991
                          - type: 'null'
                        scaleMax:
                          anyOf:
                          - type: integer
                            minimum: -9007199254740991
                            maximum: 9007199254740991
                          - type: 'null'
                        options:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                              label:
                                type: string
                              position:
                                type: integer
                                minimum: -9007199254740991
                                maximum: 9007199254740991
                            required:
                            - id
                            - label
                            - position
                            additionalProperties: false
                      required:
                      - id
                      - questionText
                      - answerType
                      - priority
                      - scaleMin
                      - scaleMax
                      - options
                      additionalProperties: false
                required:
                - id
                - name
                - channel
                - status
                - language
                - objective
                - isRecurring
                - flagCondition
                - identityDeflection
                - createdAt
                - updatedAt
                - activatedAt
                - completedAt
                - canceledAt
                - pausedAt
                - context
                - maxAttempts
                - guidingQuestions
                additionalProperties: false
        '400':
          description: Validation failed or the request cannot proceed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '401':
          description: Missing, malformed, or revoked API key.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '404':
          description: The resource does not exist in this organization.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '409':
          description: Conflicts with the current state (duplicates, wrong lifecycle state).
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '422':
          description: The request is well-formed but semantically invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '429':
          description: Rate limit exceeded — retry after `Retry-After`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '503':
          description: Transient error — retry with a narrower request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
  /api/v1/initiatives/{id}/data/summary:
    get:
      operationId: initiatives_summary
      summary: Data summary
      description: The initiative's data summary — participant count and, per captured variable, its coverage and rollup.
      tags:
      - Initiatives
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $schema: https://json-schema.org/draft/2020-12/schema
          type: string
          minLength: 1
          description: The initiative id.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  participantCount:
                    type: integer
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                  variables:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                          description: Stable variable key (also used in participant `values`).
                        label:
                          type: string
                        valueKind:
                          type: string
                        cardinality:
                          type: string
                        source:
                          type: string
                        coverage:
                          type: object
                          properties:
                            answered:
                              type: integer
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                            eligible:
                              type: integer
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                          required:
                          - answered
                          - eligible
                          additionalProperties: false
                        average:
                          description: Numeric variables only.
                          type: number
                        distribution:
                          description: Categorical variables only.
                          type: array
                          items:
                            type: object
                            properties:
                              value:
                                type: string
                              count:
                                type: integer
                                minimum: -9007199254740991
                                maximum: 9007199254740991
                            required:
                            - value
                            - count
                            additionalProperties: false
                        samples:
                          description: Example answers (text variables only).
                          type: array
                          items:
                            type: string
                      required:
                      - key
                      - label
                      - valueKind
                      - cardinality
                      - source
                      - coverage
                      additionalProperties: false
                required:
                - participantCount
                - variables
                additionalProperties: false
        '400':
          description: Validation failed or the request cannot proceed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '401':
          description: Missing, malformed, or revoked API key.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '404':
          description: The resource does not exist in this organization.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '409':
          description: Conflicts with the current state (duplicates, wrong lifecycle state).
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '422':
          description: The request is well-formed but semantically invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '429':
          description: Rate limit exceeded — retry after `Retry-After`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '503':
          description: Transient error — retry with a narrower request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
  /api/v1/initiatives/{id}/extraction-schema:
    get:
      operationId: extraction_schema_get
      summary: Get extraction schema
      description: Read an initiative's current extraction schema — the typed fields pulled from each conversation. Returns the schema in the exact shape extraction_schema_set accepts, so you can read it, edit it, and set it back. `hasSchema` is false when none is configured yet.
      tags:
      - Initiatives
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $schema: https://json-schema.org/draft/2020-12/schema
          type: string
          minLength: 1
          description: The initiative id.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  initiativeId:
                    type: string
                  hasSchema:
                    type: boolean
                    description: False when the initiative has no extraction schema yet.
                  version:
                    anyOf:
                    - type: integer
                      minimum: -9007199254740991
                      maximum: 9007199254740991
                    - type: 'null'
                    description: The current schema version, or null when none is set.
                  schema:
                    anyOf:
                    - type: object
                      properties:
                        fields:
                          type: object
                          propertyNames:
                            type: string
                            pattern: ^[a-z][a-z0-9_]{0,39}$
                          additionalProperties:
                            oneOf:
                            - type: object
                              properties:
                                label:
                                  type: string
                                  minLength: 1
                                  maxLength: 80
                                description:
                                  type: string
                                  minLength: 1
                                  maxLength: 500
                                mapsTo:
                                  type: string
                                  pattern: ^canonical\.[a-zA-Z][a-zA-Z0-9]*$
                                type:
                                  type: string
                                  const: bool
                              required:
                              - label
                              - description
                              - type
                              additionalProperties: false
                            - type: object
                              properties:
                                label:
                                  type: string
                                  minLength: 1
                                  maxLength: 80
                                description:
                                  type: string
                                  minLength: 1
                                  maxLength: 500
                                mapsTo:
                                  type: string
                                  pattern: ^canonical\.[a-zA-Z][a-zA-Z0-9]*$
                                type:
                                  type: string
                                  const: int
                                min:
                                  type: integer
                                  minimum: -9007199254740991
                                  maximum: 9007199254740991
                                max:
                                  type: integer
                                  minimum: -9007199254740991
                                  maximum: 9007199254740991
                              required:
                              - label
                              - description
                              - type
                              additionalProperties: false
                            - type: object
                              properties:
                                label:
                                  type: string
                                  minLength: 1
                                  maxLength: 80
                                description:
                                  type: string
                                  minLength: 1
                                  maxLength: 500
                                mapsTo:
                                  type: string
                                  pattern: ^canonical\.[a-zA-Z][a-zA-Z0-9]*$
                                type:
                                  type: string
                                  const: enum
                                values:
                                  minItems: 1
                                  type: array
                                  items:
                                    type: string
                                    minLength: 1
                                    maxLength: 64
                              required:
                              - label
                              - description
                              - type
                              - values
                              additionalProperties: false
                            - type: object
                              properties:
                                label:
                                  type: string
                                  minLength: 1
                                  maxLength: 80
                                description:
                                  type: string
                                  minLength: 1
                                  maxLength: 500
                                mapsTo:
                                  type: string
                                  pattern: ^canonical\.[a-zA-Z][a-zA-Z0-9]*$
                                type:
                                  type: string
                                  const: enum[]
                                values:
                                  minItems: 1
                                  type: array
                                  items:
                                    type: string
                                    minLength: 1
                                    maxLength: 64
                              required:
                              - label
                              - description
                              - type
                              - values
                              additionalProperties: false
                            - type: object
                              properties:
                                label:
                                  type: string
                                  minLength: 1
                                  maxLength: 80
                                description:
                                  type: string
                                  minLength: 1
                                  maxLength: 500
                                mapsTo:
                                  type: string
                                  pattern: ^canonical\.[a-zA-Z][a-zA-Z0-9]*$
                                type:
                                  type: string
                                  const: string
                                maxLength:
                                  type: integer
                                  exclusiveMinimum: 0
                                  maximum: 9007199254740991
                              required:
                              - label
                              - description
                              - type
                              additionalProperties: false
                            - type: object
                              properties:
                                label:
                                  type: string
                                  minLength: 1
                                  maxLength: 80
                                description:
                                  type: string
                                  minLength: 1
                                  maxLength: 500
                                mapsTo:
                                  type: string
                                  pattern: ^canonical\.[a-zA-Z][a-zA-Z0-9]*$
                                type:
                                  type: string
                                  const: string[]
                              required:
                              - label
                              - description
                              - type
                              additionalProperties: false
                      required:
                      - fields
                      additionalProperties: false
                    - type: 'null'
                    description: The current extraction schema, ready to edit and pass back to extraction_schema_set. Null when none is set.
                  notes:
                    anyOf:
                    - type: string
                    - type: 'null'
                    description: Note on the current version.
                  createdAt:
                    anyOf:
                    - type: string
                    - type: 'null'
                    description: ISO 8601 timestamp of the current version, or null.
                required:
                - initiativeId
                - hasSchema
                - version
                - schema
                - notes
                - createdAt
                additionalProperties: false
        '400':
          description: Validation failed or the request cannot proceed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '401':
          description: Missing, malformed, or revoked API key.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '404':
          description: The resource does not exist in this organization.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '409':
          description: Conflicts with the current state (duplicates, wrong lifecycle state).
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '422':
          description: The request is well-formed but semantically invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '429':
          description: Rate limit exceeded — retry after `Retry-After`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '503':
          description: Transient error — retry with a narrower request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Stable machine-readable error code (snake_case).
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
    post:
      operationId: extraction_schema_set
      summary: Set extraction schema
      description: Author or replace an initiative's extraction schema — the typed fields (bool/int/enum/string) pulled from each conversation. Replaces the schema wholesale; submit the complete set of fields, not a diff. A version is created only when the schema actually changes.
      tags:
      - Initiatives
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: https://json-schema.org/draft/2020-12/schema
              type: object
              properties:
                schema:
                  type: object
                  properties:
                    fields:
                      type: object
                      propertyNames:
                        type: string
                        pattern: ^[a-z][a-z0-9_]{0,39}$
                      additionalProperties:
                        oneOf:
                        - type: object
                          properties:
                            label:
                              type: string
                              minLength: 1
                              maxLength: 80
                            description:
                              type: string
                              minLength: 1
                              maxLength: 500
                            mapsTo:
                              type: string
                              pattern: ^canonical\.[a-zA-Z][a-zA-Z0-9]*$
                            type:
                              type: string
                              const: bool
                          required:
                          - label
                          - description
                          - type
                        - type: object
                          properties:
                            label:
                              type: string
                              minLength: 1
                              maxLength: 80
                            description:
                              type: string
                              minLength: 1
                              maxLength: 500
                            mapsTo:
                              type: string
                              pattern: ^canonical\.[a-zA-Z][a-zA-Z0-9]*$
                            type:
                              type: string
                              const: int
                            min:
                              type: integer
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                            max:
                              type: integer
[...]
